
<div class="container">
    {{item}}
    <!-- <h1>Training from</h1><br/>
    <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="Submit()">Save</button> -->

      <label for="item-input">Add an item:</label>
      <input type="text" id="item-input" #newItem>
      <button type="button" (click)="addNewItem(newItem.value)">Add to parent's list</button>
    </div>

