
<div class="component-container">

<div class="flex items-center justify-center space-x-4 px-4 p-2" style="background-color: #1B7EC1;">

    <button mat-raised-button color="green" [disabled]="!myGroup.valid" (click)="saveVechileModel()">Save</button>        
   <!-- <button mat-raised-button color="primary" (click)="onNoClick()">{{'Close'|translate}}</button>         -->

  </div>

<mat-card style="margin-left:5px; margin-right: 5px; margin-top:1rem;">
    <mat-card-content>
  <form [formGroup]="myGroup">
  
      <div class="section1">
        <div>
            <mat-label>Vehicle ServiceType<span class="required-field">*</span></mat-label><br/>
            <mat-form-field>
              <mat-label>Select</mat-label>
              <mat-select formControlName="vehicleServiceTypeId">
                <mat-option *ngFor="let serviceType of serviceType" [value]="serviceType.id">{{ serviceType.descriptionAmh }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
      <div><mat-label>ServiceYear<span class="required-field">*</span></mat-label><br/>
        <mat-form-field appearance="outline">  
          <input matInput placeholder="ServiceYear of car" formControlName="serviceYear">
          <mat-error *ngIf="myGroup.get('serviceYear')?.hasError('required')">serviceYear is required</mat-error>
          <!-- <mat-error *ngIf="myGroup.get('FactoryNameEng')?.hasError('pattern')">FactoryNameEng can't be character</mat-error> -->
          
               </mat-form-field>
      </div>
 
      <div><mat-label>Point<span class="required-field">*</span></mat-label><br/>
        <mat-form-field appearance="outline">  
          <input matInput placeholder="point of car" formControlName="point">
          <mat-error *ngIf="myGroup.get('point')?.hasError('required')">point is required</mat-error>
          <!-- <mat-error *ngIf="myGroup.get('FactoryNameEng')?.hasError('pattern')">FactoryNameEng can't be character</mat-error> -->
          
               </mat-form-field>
      </div>
      
     
    </div>
    
     
   
    </form>
    </mat-card-content>
  </mat-card>
</div>
  <!-- <div class="table-container">
 
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>{{'id'| translate }} </mat-header-cell>
        <mat-cell *matCellDef="let data; let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>
      
  
      <ng-container matColumnDef="vehicleServiceTypeId">
        <mat-header-cell *matHeaderCellDef>vehicleServiceType</mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.vehicleServiceType.descriptionAmh }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="serviceYear">
        <mat-header-cell *matHeaderCellDef>ServiceYear</mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.serviceYear  }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="point">
        <mat-header-cell *matHeaderCellDef>Point</mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.point  }}</mat-cell>
      </ng-container>
  
  
      
 

  
   
  

  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>actions</mat-header-cell>
        <mat-cell *matCellDef="let data">
          <button mat-raised-button (click)="EditVechile(data,'edit')" color="primary">Edit </button>  
          <button mat-raised-button color="warn" (click)="openDeleteConfirmationDialog(data.id)">Delete </button>
    
  
        </mat-cell>
      </ng-container>
     
      <mat-header-row style="background-color: #1B7EC1; color: #ffffff;" *matHeaderRowDef="displayedColumns"  >
      </mat-header-row>
    
      <mat-row  *matRowDef="let data; columns: displayedColumns" ></mat-row>
    </mat-table>
  </div>
    <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
  </mat-paginator> -->